extends layout

block content
    h1 #{ title }
    form(method='POST', action='/pug_students/add')
        #form-group
            label ID:
            input.form-control(type="number", name='id')
        #form-group
            label Name:
            input.form-control(type="text", name='name')
        #form-group
            label Age:
            input.form-control(type="number", name='age')
        #form-group
            label Gender:
            input.form-control(type="radio", name='isMale', value='true') M
            input.form-control(type="radio", name='isMale', value='false') F
        input.btn.btn-primary(type="submit", value='Submit')